<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 129,99"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVO"
        gameType="DISC | PS5"
        gamePrice="R$ 299,50"
    >
    </app-card>
    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="EXCLUSIVO"
        gameType="DISC | PS4 | PS5"
        gamePrice="R$ 229,00"
    >
    </app-card>
    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DISC"
        gamePrice="R$ 130,00"
    >
    </app-card>
</div>
